.App {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  overflow-x: auto;
}

.App > h1{
  font-family: Roboto;
  font-size: xx-large;
  font-weight: bold;
}

.App__principal{
  margin-top: 5rem;
  display: flex;
  justify-content: space-around;
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ECEFF1;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 10rem;
  /* align-items: center; */
  /* justify-content: center; */  
}

.card{
  padding: 0.65rem 1rem;
  
}

.table__styles{
  padding: 1rem;
  min-height: 50vh;
}

.card form{
  width: fit-content;
  height: fit-content;
  background-color: white;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card form input{
    border: none;
    width: 360px;
    padding: 1rem;
    margin: 4px 0;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
     
}

.card form {
  display: flex;
  align-items: center;
}

.card form input{
  text-transform: uppercase;
}

.card form button {
  width: 10rem;
  height: 3rem;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background-color: #3498db;
  color: white;
  font-size: calc(2px + 2vmin);
  cursor: pointer;
}

.card form button:hover{
  border: 1px solid #3498db;
  color: #3498db;
  background-color: white;
}

.card form input:invalid{
  border: 1px tomato solid;
}


.response{
  padding: 1rem;
  text-align: left;
  min-width: 400px;
  height: 400px;
}

.response span {
  text-align: center;
}

.response span{
  display: flex;
  justify-content: center;
  color: #e74c3c;
  font-size: large;
  margin-bottom: 10px;
}

.response p {
  color: rgba(0,0,0,0.6);

}

.response p:first-of-type {
  text-align: center;
  font-size: 22px;
  background-color: white;
  padding: 0.25rem;
  font-weight: 900;
  margin: 0 0 16px;
}

.nav__search, .registros{
  margin: 2rem;
}

.nav__search form input,
  label{
    border: none;
    width: 360px;
    padding: 1rem;
    margin: 4px 0;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
     
}


.nav__search  form button {
  width: 4rem;
  height: 47px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background-color: #3498db;
  color: white;
  cursor: pointer;
}

.nav__search form button:hover{
  border: 1px solid #3498db;
  color: #3498db;
  background-color: white;
}

.nav__search form input:invalid{
  border: 1px tomato solid;
}

.lista__utlimos{
  display: flex;
  flex-direction: column;
  margin: 0 0 1rem 0;
  padding: 0;
}

.window__scroll{
  height: 50vh;
  min-width: 500px;
  overflow-y: scroll;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.lista__utlimos p{
  text-align: left;
  margin: 0;
  height: 20px;
  
}

.lista__utlimos p:first-child{
  background-color: #3498db;
  color: aliceblue;
}


@media (max-width: 60rem){
  .App{
     flex-direction: column;
     justify-content: center;
     
  }

  .card form {
    width: 100%;
  }
  .card form input{
    width: 100%;
  }

  .App__principal{
    flex-direction: column;
    justify-content: center;
  }

  .window__scroll{
    height: 50vh;
    min-width: 360px;
    box-sizing: border-box;
    margin: 0;
    padding: 20px;
    overflow-x: scroll;
  }

  .nav__search form input,
    label{
    width: 220px;
      
  }

  .lista__utlimos{
    width: 360px;
  }

  .lista__utlimos p {
    overflow-x: scroll;
  }


  

}